:root{
    --color-accent: #FCA311;
    --color-blue: #14213D;
    --color-gray: #262626;
    --color-white-hover: rgb(190, 190, 190);
    --color-black-hover: rgb(60, 60, 60);

    --container: 1190px;
    --maket-size: 1440px;
    --vertical-padding-standart: 150px;
}